body {
    font-family: Candara;
    text-align: center;
    
     margin: 0;
  	
 	background-color: #B7D4E6;
  	background-size: 100%;
}

header {
  position: absolute;
  top: 20px;
  width: 90%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  gap: 310px;
  align-items: center;
}

.containerheader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 50px 0;
}

.menu, .moon {
  cursor: pointer;
}



.key-tile::selection{
	background-color: transparent;
}

.enter-key-tile::selection{
	background-color: transparent;
}

.container::selection{
	background-color: transparent;
}

.containerheader::selection{
	background-color: transparent;
}

#answer{
    font-size: 26px;	
}

#gif{
	border-radius: 295px;
}

/* Jogo */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container .box {
    width: 30%;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 280px;  /* Ajuste conforme necessário */
    height: auto;  /* Permite que a altura seja dinâmica */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}

.tile {
    /* Box */
    background-color: #00aaff46;
    border: 2px solid black;
    width: 45px;   /* Diminuído de 60px */
    height: 45px;  /* Diminuído de 60px */
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.row-title {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid black;
    cursor: pointer;
    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid black;
    background-color: #00aaff46;
    cursor: pointer;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animação Letras */
@keyframes slidein {
    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.tile.animate-letter {
    animation: slidein 0.2s ease;
}

/* Animação Tremer Palavra Inválida */
@keyframes shake {
  0% { transform: translateX(0px); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0px); }
}

.animate-invalid-row {
  animation: shake 0.3s;
}

/* Animação Zoom Palavra Válida */
@keyframes zoom  {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

.animate-valid-row {
  animation: zoom  0.3s;
}

/* PopUp */
.popup {
    display: none;
    justify-content: center;
    z-index: 10000;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    padding: 30px;
    margin: auto;
    width: 500px;
    height: 60%;

    background: rgba(27, 27, 27, 0.959);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

.popup .fechar {
    position: absolute;
    top: 8px; right: 10px;
}

.popup h1 {
    color: white;
    font-size: 50px;
}

.popup p {
    color: white;
}

.popup a {
    color: white;
    text-decoration: none;
}

#answer {
    z-index: 10000;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%; left: 50%;
}


/* =================== modo escuro =================== */
body.dark {
  margin: 0;
  background-image: url(../img/darkbg.png);
  background-size: 100%;
}

body.dark .btn-cadastro {
  background-color: #012447;
}

body.dark .btn-acessar {
  background-color: #004080;
}

body.dark .input-group input {
  background-color: #131212bb; 
  color: #fff;           
  border: 1px solid #444;
}


body.dark .key-tile {
    border: 1px solid white;
    color: white;
}

body.dark .enter-key-tile {
	border: 1px solid white;
    color: white;
}

body.dark .tile {
    border: 2px solid lightgray;
    color: lightgray;
}

body.dark #answer{
	color: lightgray;
}



/* Responsividade */
@media (max-width: 768px) {
  header {
    gap: 90px;
  }

  .logo {
    width: 150px;
  }

  .img {
    width: 35px;
  }

  #gif {
    width: 100%;
  }

  .container {
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  .box {
    width: 40%;
    margin: 0 auto; 
  }

  #board {
    width: 100%;
    height: auto;
  }

  .tile {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .keyboard-row {
    width: 100%;
  }

  .key-tile, .enter-key-tile {
    width: 30px;
    height: 35px;
    font-size: 16px;
  }

  header img {
    width: 30px; 
  }
  
  .keyboard-row {
    width: auto; 
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
  }

}

@media (max-width: 480px) {
  header {
    gap: 70px;
  }

  .logo {
    width: 120px;
  }

  .box {
    width: 200px;
    margin: 0 auto; 
  }

  #gif {
    width: 150px;
    margin: auto;
  }

.container {
    gap: 70px;
  }

  .tile {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

  .key-tile, .enter-key-tile {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  header img {
    width: 25px; 
  }

    .keyboard-row {
    width: auto; 
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
  }
  
}