@charset "UTF-8";

/* Geral */
body {
  margin: 0;
  font-family: Candara;
  background-image: url(../img/backgroundlight.png);
  background-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  position: absolute;
  top: 20px;
  width: 90%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.menu, .moon {
  font-size: 24px;
  cursor: pointer;
}

.box {
  background: rgba(255, 255, 255, 0.185);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  width: 350px;
}

.box h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
    display: block;
    text-align: left;
    margin: 8px 0 4px 0;
    font-weight: bold; 
    font-size: 17px;  
}

input {
  margin: 8px 0;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.btn-cadastro {
  background-color: #1e90ff;
}

.btn-acessar {
  background-color: #004080;
}


/* Modo Escuro */
body.dark {
	background-image: url(../img/darkbg.png);
}

body.dark ,menu .moon label, body.dark .box .btn-acessar {
	color: white
}

/* Responsividade */
